@model IEnumerable<TodoIdentity.Models.Todo>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TodoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TodoName)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteTodo", new { id = item.TodoId, admin = true })
                </td>
            </tr>
        }
    </tbody>
</table>
